---
title: "SureBackup"
source_url: "https://helpcenter.veeam.com/docs/vbr/userguide/surebackup_recovery_verification.html"
last_updated: "4/29/2025"
product_version: "13.0.1.1071"
---

# SureBackup

In this article

SureBackup is the Veeam technology that allows you to test machines backups and check if you can recover data from them. You can verify any restore point of a backed-up machine.

In This Section

* [How SureBackup Works](surebackup_hiw.md)
* [Veeam vPower NFS Service](vpower_nfs_service.md)
* [Backup Recovery Verification Tests](surebackup_tests.md)
* [Application Group](application_group.md)
* [Virtual Lab](virtual_lab.md)
* [SureBackup Job](surebackup_job.md)
* [XML Files with Machine Roles Description](creating_xml_files.md)
* [Manual Recovery Verification](surebackup_manual.md)

Page updated 4/29/2025

Page content applies to build 13.0.1.1071
